# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
#empty dictionary
dictionary={}
type(dictionary)

dict

In [2]:
dict1=dict()
type(dict1)

dict

In [3]:
data={'Alabama':'Montgomery',
      'Arizona':'Phoenix',
      'Georgia':'Atlanta',
      'Kentucky':'Franckfurt',
      'Ohio':'Columbus'}
#Keys are states and values are cities

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [4]:
data['Ohio']

'Columbus'

In [5]:
data['Georgia']

'Atlanta'

In [6]:
#data['New York']
#If key not present, it will generate an error

### Update elements of a dictionary and add new elements

In [7]:
day={1:'Monday',2:'Tuesday',4:('Thursday','Friday'),5:['Saturday','Sunday']}

In [8]:
#We want to access thursday
day[4][0]

'Thursday'

In [9]:
day[3]='Wednesday'
print(day)

{1: 'Monday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Saturday', 'Sunday'], 3: 'Wednesday'}

In [10]:
day[5][0]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'Wednesday'}

### `get` and `update` methods

In [11]:
#return wednesday
day.get(3)

'Wednesday'

In [12]:
day.get(1)
print(f'Monday: {day.get(1)}')

Monday: Monday

In [13]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'Wednesday'}

In [14]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [15]:
# update an old entry
data.update({'Kentucky':'Louisville'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus'}

In [16]:
# new entry
data.update({'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

In [17]:
data.update({'Missouri':'Jefferson City',
             'Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

In [18]:
# delete Alabama using del method
del data['Alabama']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [19]:
#delete ohio using pop
data.pop('Ohio')

'Columbus'

In [20]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [21]:
# delete the dictionary
del data

In [23]:
# name error as the dictionary not present any more
#data

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [24]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [25]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [26]:
data.values()

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Columbus'])

In [27]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Columbus')])

### Loop through a dictionary

In [28]:
# unpack the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [29]:
# unpack the dictionary values
for j in data.values():
    print(j)

Montgomery
Pheonix
Atlanta
Frankfort
Columbus

In [30]:
# Dictionary items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Columbus')
<class 'tuple'>

In [31]:
# unpack ditionary items
for j,k in data.items():
    print("state: ", j)
    print("capitol: ", k)

state:  Alabama
capitol:  Montgomery
state:  Arizona
capitol:  Pheonix
state:  Georgia
capitol:  Atlanta
state:  Kentucky
capitol:  Frankfort
state:  Ohio
capitol:  Columbus

### Convert dictionary to lists using `list()` function

In [32]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [33]:
# dictionary keys to a list
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [34]:
# dictionary values to a list
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Columbus']

### A List in a Dictionary

In [35]:
fav_language={'juan':['python', 'ruby'],
              'pablo':['c'],
              'diego':['ruby', 'java'],
              'anto':['python', 'java']}

In [36]:
fav_language

{'juan': ['python', 'ruby'],
 'pablo': ['c'],
 'diego': ['ruby', 'java'],
 'anto': ['python', 'java']}

In [37]:
for name, subjects in fav_language.items():
    print(f"The name is : {name.title()}. The favourite languages are:")
    
    for i in subjects:
        print("\t\t\t\t\t\t",i)

The name is : Juan. The favourite languages are:
						 python
						 ruby
The name is : Pablo. The favourite languages are:
						 c
The name is : Diego. The favourite languages are:
						 ruby
						 java
The name is : Anto. The favourite languages are:
						 python
						 java

###  A Dictionary in a Dictionary

In [38]:
user={'est':{
    'first': 'albert',
    'last':'einstein',
    'location':'prinston'},
      'mcurie':{'first':'marie',
          'last':'curie',
          'location':'paris'}}

In [39]:
user

{'est': {'first': 'albert', 'last': 'einstein', 'location': 'prinston'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [40]:
#albert
user['est']['first']

'albert'

In [41]:
#paris
user['mcurie']['location']

'paris'

In [42]:
for username, user_info in user.items():
    print("Username:",username)
    #print(user_info)
    full_name=user_info['first']+" " +user_info['last']
    print("full name: ",full_name)
    print("location: ",user_info['location'] )

Username: est
full name:  albert einstein
location:  prinston
Username: mcurie
full name:  marie curie
location:  paris